body{
    background-color: #eee;
}


img{
    max-width: 200px;
    max-height: 200px;
}

.parent{
    /* border: 3px solid red; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    grid-template-areas:
    "header header header header"
    ". middle middle ."
    "section1 section2 section3 section4"
    
    

}

.child{
    /* border: 2px solid blue; */
}

.parent > .header{
    grid-area: header;
    
}

.header{
    display: flex;
    flex-direction: column;
    /* background-color: aqua; */
    justify-content: center;
    align-items: center;
}

.parent > .middle{
    /* border: 3px solid gold; */
    grid-area: middle;  
}

.middle{
    display: flex;
    flex-direction: column;
    /* background-color: aqua; */
    justify-content: center;
    align-items: center;
}

.parent > .section1{
    grid-area: section1;
}

.section1{
    display: flex;
    flex-direction: column;
    /* background-color: aqua; */
    justify-content: center;
    align-items: center;
}

.parent > .section2{
    grid-area: section2;
}
.section2{
    display: flex;
    flex-direction: column;
    /* background-color: aqua; */
    justify-content: center;
    align-items: center;
}
.parent > .section3{
    grid-area: section3;
}
.section3{
    display: flex;
    flex-direction: column;
    /* background-color: aqua; */
    justify-content: center;
    align-items: center;
}
.parent > .section4{
    grid-area: section4;
}
.section4{
    display: flex;
    flex-direction: column;
    /* background-color: aqua; */
    justify-content: center;
    align-items: center;
}

.breed{
    display: flex;
}


  

@media only screen and (max-width: 600px) {
    
    .parent{
        /* border: 3px solid green; */
        display: grid;
        grid-template-columns: 1fr ;
    
        grid-template-areas:
        "header "
        "middle"
        "section1"
        "section2"
        "section3"
        "section4"

}
}