

   .logo{
    
    max-width:100%;
    max-height: 100%;
    
}


     body{

        background-color: black;
        color: white;
        padding-bottom:2%;
        
      }
      .subject{
        display: inline-block;
        width: 400px;
        height: 100px;
        text-align: center;
        vertical-align: middle;
        margin-left: auto;
        font-size: 65px;
        text-shadow: 2px 1px #d4af37;
        
      }

      .comment{
        display: inline-block;
        width: 800px;
        height: auto;
        text-align: left;
        vertical-align: middle;
        font-size: 25px;
        border: 1px solid #d4af37;
        border-radius: 4px;
        padding: 25px;
  
       
      }

      
      .pictures{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        

      }

      .pictures>img{
        object-fit: cover;
        width: 100%;
        max-height: 100%;
        align-self: center;
        
        
      }

      .words{
        text-align: center;
      }

      .videos{
       object-fit: cover;
       margin-bottom:10px;
       margin-top:25px;
       
       
      }

.button{
    border: none;
    padding: 5px 50px;
    border-radius: 15px;
    color: #d4af37;
    text-align:center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 8px 10px;
    cursor: pointer;
    border: 1px solid #d4af37;
    font-weight: bold;
    box-shadow:2px 2px #d4af37;
    
}
        
      .intro{
    
        display: flex;
        
        text-align: center;
        margin-top:-12%;
       
      }




   .hi{
   
    font-size:40px;
    /* position:relative; left:3px; top:5px; background-color:none;
    vertical-align:auto; */
    padding-left:300px;
    Padding-right:30px;
    text-shadow: 2px 1px #d4af37;
    

   }

   .mynameis{
  
    font-size: 30px;
    /* position:relative; left:-10px; top:100px; background-color:none;
    width:100% */
    padding-top:10%;
    padding-left:30px;
    Padding-right:30px;
    text-shadow: 2px 1px #d4af37;
   }

   .profile{
   
    max-width: 100%;
    max-height: 100%;
    padding-left:3px;
    Padding-right:30px;
    
   }
   
   .chrislegette{

    margin-top:-4%;
    font-size: 50px;
    width:100%;
    padding-left:300px;
    Padding-right:300px;
    text-shadow: 2px 1px #d4af37;
    

   }

   .paragraph{
    margin-top:-2%;
    padding-left:300px;
    Padding-right:300px;
    font-size:18px;
    font-weight:normal;
    line-height: 150%;
   }

   .background{
    /* padding-left:300px;
    Padding-right:300px; */
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: normal;

   }

.link{
    color:#d4af37;
    text-decoration: none;
}

.welcome{
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight:bold;

}

.body{
    margin-top:-15%;
}

.checkout{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    font-size: 25px;
}

.hobbyhighlights{
    font-size: 18px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight:bold;
    padding-left:300px;
    Padding-right:300px;
        
}

.hobbyheader{
    font-size: 20px;
   
    margin-top: 0px;
    margin-bottom: -50px;
    text-decoration: underline;
}

.form{
    text-align: center;
    border:3px solid white ;
    margin-left:35%;
    margin-right:35%;
    padding:1%;
    margin-top:6%;
    box-shadow: 15px 20px #d4af37;
    
}

.topic{
    border:1px solid white;
    margin:5%;
    padding:-5%;
    padding-top:5px;
    padding-bottom:5px;
    
}
.food{
    margin-top:0%;
}

.fulltable{
    margin-left: auto;
    margin-right: auto;
    margin-top:5%;
    max-width:100%;
    border-color:#d4af37;
}

.tableheader{
    max-height:50px;
    max-width:50px;
}
tr, th{
font-size: 30px;
font-weight: lighter;
}

ul, #hilighthobby{
color:white;
list-style-type:square;
font-weight: lighter;
margin-top:6%;
}