/* .parent{
    border: 2px solid red;
    display: grid;
    grid-template-columns: 150px 50px 80px;
    grid-template-rows: 100px 100px 50px;
    gap: 10px 50px
}


.child{
    border: 2px solid blue;
}

.child-1{
    grid-column-start: 1;
    grid-column-end: 3;
}

.child-3{
/* This changes where each grid will start and how much they expand (width & height) according to the number of rows and columns created */
    /* grid-column-start: 1;
    grid-column-end:3;
    grid-row-start: 2;
    grid-row-end: 4;
/* }

/* the fr (fraction) measurement will calculate the size of the screen and distribute size accordingly */



/* DECLARING YOUR OWN GRID TEMPLATE AREA */

.parent{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 200px 200px 200px 200px;

    grid-template-areas:
    "header header header"
    "nav blog blog"
    "nav blog blog"
    "footer footer footer"   
}

.child{
    border: 2px solid blue;
}

.parent > .header{
    grid-area: header;
}

.parent > .nav{
    grid-area: nav;
}

.parent > .blog{
    grid-area: blog;   
}

.parent > .footer{
    grid-area: footer;
}

.blog > div > img{
    object-fit: none;
    width: 100%;
    height: 370px;

    

}